.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color:#374151 ;
    color: #fff;
    padding: 4px 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    transition: all  0.3s  ease;
    z-index: 1000;
  }
  
  .scrollToTop:hover {
    background-color:#1f2937 ;
    transform: scale(1.1);
    opacity: .8;
  }
  
  .scrollToTop:active {
    transform: scale(0.9);
  }
  